<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Posts</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="mb-4">Posts</h1>
      <a href="/" class="btn btn-primary mb-3" id="addPostBtn">All Posts</a>
      <h1 class="mb-4">Create Post</h1>
      <form id="postForm">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" required />
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea
            class="form-control"
            id="message"
            rows="3"
            required
          ></textarea>
        </div>
        <div class="form-group">
          <label for="creator">Creator</label>
          <input type="text" class="form-control" id="creator" required />
        </div>
        <div class="form-group">
          <label for="tags">Tags</label>
          <input
            type="text"
            class="form-control"
            id="tags"
            placeholder="Enter tags separated by commas"
          />
        </div>
        <button type="submit" class="btn btn-primary">Create Post</button>
      </form>
    </div>

    <script>
      const postForm = document.getElementById("postForm");

      postForm.addEventListener("submit", async (e) => {
        e.preventDefault();

        const title = document.getElementById("title").value;
        const message = document.getElementById("message").value;
        const creator = document.getElementById("creator").value;
        const tagsInput = document.getElementById("tags").value;
        const tags = tagsInput
          ? tagsInput.split(",").map((tag) => tag.trim())
          : [];

        const postData = {
          title,
          message,
          creator,
          tags,
        };

        try {
          const response = await fetch("/posts", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(postData),
          });

          if (response.ok) {
            console.log("Post created successfully");
            alert("Post Created Sucessfully");

            // Reset the form or perform any other actions
            postForm.reset();
          } else {
            console.error("Error creating post");
          }
        } catch (error) {
          console.error("Error:", error);
        }
      });
    </script>
  </body>
</html>
